![Tux, the Linux mascot](/assets/images/tux.png)

# Jest Doc Reporter

---

## Suit name

-   Test name 1
-   Test name 2
-   Test name 3
